@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */

  /* --main-black: #13131a; */
  --main-black: #111111;
  --main-grey: #2f2f2f;
  --main-white: #f5f5fa;
  --main-yellow: #f9cc4f;
  --main-orange: #f05024;

  --color-grey-1: #0000000d;
  --color-grey-5: #2a2e35;
}

.bottom-line::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 0;
  width: 0%;
  border-bottom: 2px solid var(--main-black);
  transition: 0.5s;
}

.bottom-line:hover::after {
  width: 100%;
}

@keyframes rotateStar {
  0% {
    transform: rotate(0deg) scale(0.95);
  }
  100% {
    transform: rotate(360deg) scale(1.05);
  }
}

.content .star {
  animation: rotateStar 3s linear infinite;
}

@layer components {
  /* navbar */

  .nav-item {
    @apply text-[20px] py-[5px] px-[20px] transition-all duration-200 ease-out cursor-pointer font-semibold tracking-wide capitalize;
  }
  .nav-item a {
    @apply text-[var(--main-black)] relative;
  }

  .nav-item-active a {
    @apply text-[var(--main-grey)];
  }

  /* buttons */
  .btn-primary {
    @apply inline-block capitalize bg-[var(--main-black)] py-[12px] px-[30px] outline-none cursor-pointer font-medium text-[16px] leading-relaxed text-[var(--main-white)] rounded-lg tracking-wide border-2 border-[var(--main-black)] transition-all duration-200 ease-in-out hover:text-[var(--main-black)] hover:bg-transparent;
  }

  /* footer */

  .footer-info-item {
    @apply p-0 md:px-[70px];
  }

  .footer-info-title {
    @apply text-[18px] text-[var(--main-white)] font-normal;
  }
  .footer-info-desc {
    @apply text-[12px] uppercase font-medium tracking-wider text-gray-200;
  }
  .footer-info-text {
    @apply py-[8px] px-[2px] text-[15px] font-medium tracking-wider text-gray-200 transition-all duration-200 ease-in-out cursor-pointer;
  }

  .footer-info-links {
    @apply mt-[20px] inline-flex justify-center items-center;
  }

  .footer-link {
    @apply w-[35px] h-[35px] rounded-full border border-white flex items-center justify-center transition-all duration-500 ease-in-out cursor-pointer mr-[15px] hover:border-black hover:bg-[var(--main-white)];
  }
  .footer-link:hover > svg {
    @apply invert-0;
  }

  .footer-link svg {
    @apply w-[18px] h-[18px] invert;
  }
}
