@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */

  /* --main-black: #13131a; */
  --main-black: #111111;
  --main-grey: #2f2f2f;
  --main-white: #f5f5fa;
  --main-yellow: #f9cc4f;
  --secondary-yellow: #fdcb43ea;
  --main-orange: #f05024;

  --color-grey-1: #0000000d;
  --color-grey-5: #2a2e35;
}

.bottom-line::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 0;
  width: 0%;
  border-bottom: 2px solid var(--main-black);
  transition: 0.5s;
}

.bottom-line:hover::after {
  width: 100%;
}

.contact-left {
  background-size: 70% auto;
  height: calc(100% - 20px);
}

@keyframes rotateStar {
  0% {
    transform: rotate(0deg) scale(0.95);
  }
  100% {
    transform: rotate(360deg) scale(1.05);
  }
}

.content .star {
  animation: rotateStar 3s linear infinite;
}

@layer components {
  /* navbar */

  .nav-item {
    @apply text-[20px] py-1 px-6 transition-all duration-200 ease-out cursor-pointer font-semibold tracking-wide capitalize;
  }
  .nav-item a {
    @apply text-[var(--main-black)] relative;
  }

  .nav-item-active a {
    @apply text-[var(--main-grey)];
  }

  .dropdown-link {
    @apply block px-6 py-3 hover:bg-gray-200 text-[var(--main-black)] transition-colors duration-200 text-sm rounded-sm;
  }

  .mobile-link {
    @apply my-2 text-[var(--main-white)] transition-colors duration-300 transform md:mx-4 md:my-0;
  }

  /* buttons */
  .btn-primary {
    @apply inline-block capitalize bg-[var(--main-black)] py-[12px] px-[30px] outline-none cursor-pointer font-medium text-[16px] leading-relaxed text-[var(--main-white)] rounded-lg tracking-wide border-2 border-[var(--main-black)] transition-all duration-200 ease-in-out hover:text-[var(--main-black)] hover:bg-transparent;
  }

  /* footer */

  .footer-info-item {
    @apply p-0 md:px-[70px];
  }

  .footer-info-title {
    @apply text-[18px] text-[var(--main-white)] font-normal;
  }
  .footer-info-desc {
    @apply text-[12px] uppercase font-medium tracking-wider text-gray-200;
  }
  .footer-info-text {
    @apply py-[8px] px-[2px] text-[15px] font-medium tracking-wider text-gray-200 transition-all duration-200 ease-in-out cursor-pointer;
  }

  .footer-info-links {
    @apply mt-[20px] inline-flex justify-center items-center;
  }

  .footer-link {
    @apply w-[35px] h-[35px] rounded-full border border-white flex items-center justify-center transition-all duration-500 ease-in-out cursor-pointer mr-[15px] hover:border-black hover:bg-[var(--main-white)];
  }
  .footer-link:hover > svg {
    @apply invert-0;
  }

  .footer-link svg {
    @apply w-[18px] h-[18px] invert;
  }

  /* contact */
  .contact-left {
    @apply w-[90%] lg:w-2/5 bg-[var(--secondary-yellow)] bg-[url('/Assets/others/circle.webp')]  bg-no-repeat bg-auto bg-right-bottom m-2 rounded-2xl flex items-center flex-col justify-between pb-32 pt-10;
  }

  .form-control {
    @apply relative block text-sm font-medium leading-5 text-gray-700 bg-transparent border border-gray-200 p-4 w-full mt-4 outline-none transition-all duration-300 hover:border-gray-700 hover:-translate-y-1;
  }
}
