@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  /* colors */
  --main-black: #111111;
  --secondary-black: #222429;
  --main-grey: #2f2f2f;
  --secondary-grey: #686a6f;
  --main-white: #f5f5fa;
  --secondary-white: #ffffff;
  --main-yellow: #f9cc4f;
  --secondary-yellow: #fdcb43ea;
  --main-orange: #f05024;

  --color-grey-1: #0000000d;
  --color-grey-2: #999b9f;
  --color-grey-5: #2a2e35;
  --color-black-1: #1c1e22;
  --color-yellow-1: #ffaa17;
}

/* button */

.slider-button:hover .button-curve {
  opacity: 1;
  right: 0;
  width: 100%;
  transform: skewX(0deg);
}

.bottom-line::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 0;
  width: 0%;
  border-bottom: 2px solid var(--main-black);
  transition: 0.5s;
}

.services-title-box .title {
  font-family: "Anton", sans-serif;
}

.bottom-line:hover::after {
  width: 100%;
}

.contact-left {
  background-size: 70% auto;
  height: calc(100% - 20px);
}

@keyframes rotateStar {
  0% {
    transform: rotate(0deg) scale(0.95);
  }
  100% {
    transform: rotate(360deg) scale(1.05);
  }
}

.content .star {
  animation: rotateStar 3s linear infinite;
}

/* services */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.service-card {
  visibility: visible;
  animation-duration: 1500ms;
  animation-delay: 0ms;
  animation-name: fadeInUp;
}

.inner-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.04);
  transition: all 500ms ease;
}
.service-card:hover .inner-box:before {
  background-color: #222429 !important;
  bottom: -10px !important;
}

.bottom-curve {
  transition: transform 0.5s ease-in-out;
}

.service-card:hover .icon-box {
  color: #ffaa17 !important;
}

.service-card:hover h5 span {
  color: #ffffff !important;
}

.service-card:hover .desc {
  color: #999b9f;
}

.service-card-small:hover .box {
  background-color: var(--color-yellow-1);
}

.service-card-small:hover .icon-box {
  color: #1c1e22 !important;
}

.service-card-small:hover h5 span {
  color: var(--secondary-black) !important;
}

.service-card-small:hover .counter {
  color: var(--color-black-1);
}

@layer components {
  /* navbar */

  .nav-item {
    @apply text-[20px] py-1 px-6 transition-all duration-200 ease-out cursor-pointer font-semibold tracking-wide capitalize;
  }
  .nav-item a {
    @apply text-[var(--main-black)] relative;
  }

  .nav-item-active a {
    @apply text-[var(--main-grey)];
  }

  .dropdown-link {
    @apply block px-6 py-3 hover:bg-gray-200 text-[var(--main-black)] transition-colors duration-200 text-sm rounded-sm;
  }

  .mobile-link {
    @apply my-2 text-[var(--main-white)] transition-colors duration-300 transform md:mx-4 md:my-0;
  }

  /* buttons */
  .btn-primary {
    @apply inline-block capitalize bg-[var(--main-black)] py-[12px] px-[30px] outline-none cursor-pointer font-medium text-[16px] leading-relaxed text-[var(--main-white)] rounded-lg tracking-wide border-2 border-[var(--main-black)] transition-all duration-200 ease-in-out hover:text-[var(--main-black)] hover:bg-transparent;
  }

  /* footer */

  .footer-info-item {
    @apply p-0 md:px-[70px];
  }

  .footer-info-title {
    @apply text-[18px] text-[var(--main-white)] font-normal;
  }
  .footer-info-desc {
    @apply text-[12px] uppercase font-medium tracking-wider text-gray-200;
  }
  .footer-info-text {
    @apply py-[8px] px-[2px] text-[15px] font-medium tracking-wider text-gray-200 transition-all duration-200 ease-in-out cursor-pointer;
  }

  .footer-info-links {
    @apply mt-[20px] inline-flex justify-center items-center;
  }

  .footer-link {
    @apply w-[35px] h-[35px] rounded-full border border-white flex items-center justify-center transition-all duration-500 ease-in-out cursor-pointer mr-[15px] hover:border-black hover:bg-[var(--main-white)];
  }
  .footer-link:hover > svg {
    @apply invert-0;
  }

  .footer-link svg {
    @apply w-[18px] h-[18px] invert;
  }

  /* contact */
  .contact-left {
    @apply w-[90%] lg:w-2/5 bg-[var(--secondary-yellow)] bg-[url('/Assets/others/circle.webp')]  bg-no-repeat bg-auto bg-right-bottom m-2 rounded-2xl flex items-center flex-col justify-between pb-32 pt-10;
  }

  .form-control {
    @apply relative block text-sm font-medium leading-5 text-gray-700 bg-transparent border border-gray-200 p-4 w-full mt-4 outline-none transition-all duration-300 hover:border-gray-700 hover:-translate-y-1;
  }

  /* services */
}
